td, th {
    vertical-align: middle !important;            
}
i{
  font-size: 1.3rem !important;
}
.red-icon1{
    color:red;
    cursor: pointer;
}
.modiff{
    color: blue;
    cursor: pointer;
}

.download{
    font-size: 1.4rem!important;
    cursor: pointer;
}

.inscHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    margin-top: 0%;  
    padding-top: 0%;
}

.inscHeader img{
    height: 100px;
    width: 100px;
    margin-right: 5px;
}

.inscTitle{
    color: red;
    margin-bottom: 10px !important;
}
.txtInsc{
    text-align: start;
}

.txtautre{
    color: black;
    font-size: medium;
    font-family:cursive;
    font-weight: 300;
}
.inscTitle {
    margin: 0;
}

.inscBody p {
    margin-bottom: 10px;
}

